
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DashBoard</h2>

<div class="row be-booking-promos">
    <div class="col-md-4">
        <div class="be-booking-promo be-booking-promo-danger be-booking-promo-big">
            <div class="be-booking-desc">
                <h4 class="be-booking-desc-title">Pre-Form</h4><span class="be-booking-desc-details">Lorem ipsum dolor sit amet, Pellen tesque sit amet odio Integer.</span>
            </div>
            <div class="be-booking-promo-price">
                <div class="be-booking-promo-amount"><span class="currency">$</span><span class="price">20</span><span class="frecuency">/mo</span></div><a href="#" class="btn btn-danger be-booking-btn-price">Get Started</a>
            </div><span class="be-promo-big-title icon mdi mdi-search-in-file"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="be-booking-promo be-booking-promo-primary be-booking-promo-big">
            <div class="be-booking-desc">
                <h4 class="be-booking-desc-title">Processing File</h4><span class="be-booking-desc-details">Lorem ipsum dolor sit amet, Pellen tesque sit amet odio Integer.</span>
            </div>
            <div class="be-booking-promo-price">
                <div class="be-booking-promo-amount"><span class="currency">$</span><span class="price">20</span><span class="frecuency">/mo</span></div><a href="#" class="btn btn-primary be-booking-btn-price">Get Started</a>
            </div><span class="be-promo-big-title icon mdi mdi-spinner"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="be-booking-promo be-booking-promo-success be-booking-promo-big">
            <div class="be-booking-desc">
                <h4 class="be-booking-desc-title">Alerts</h4><span class="be-booking-desc-details">Lorem ipsum dolor sit amet, Pellen tesque sit amet odio Integer.</span>
            </div>
            <div class="be-booking-promo-price">
                <div class="be-booking-promo-amount"><span class="currency">$</span><span class="price">20</span><span class="frecuency">/mo</span></div><a href="#" class="btn btn-success be-booking-btn-price">Get Started</a>
            </div><span class="be-promo-big-title icon mdi mdi-assignment-alert"></span>
        </div>
    </div>
</div>
